<p ng-show="vm.hasError">Es ist ein Fehler aufgetreten</p>
<div ng-show="!vm.hasError">
    <h1>{{ vm.blog.title }}</h1>
    <p>{{ vm.blog.description}}</p>

    <button ng-show="!vm.isCreateFormVisible" ng-click="vm.showCreateForm()">Neuer Eintrag erstellen</button>
    <create-entry ng-show="vm.isCreateFormVisible" blog-id="vm.blog._id"
                  on-success="vm.loadBlog() && vm.hideCreateForm()" on-cancel="vm.hideCreateForm()"></create-entry>

    <entry-list blog-id="{{vm.blog._id}}"></entry-list>
</div>
