<span ng-switch="vm.editMode">
    <span ng-switch-when="true" ng-switch="vm.fieldType">
        <textarea ng-switch-when="textarea" title="Field" ng-model="vm.fieldValue"></textarea>
        <input ng-switch-default type="{{vm.fieldType}}" ng-model="vm.fieldValue" title="Field">
    </span>
    <span ng-switch-default ng-switch="vm.fieldType">
        <span ng-switch-when="date">{{vm.fieldValue | date:'dd.MM.yyyy'}}</span>
        <span ng-switch-default>{{vm.fieldValue}}</span>
    </span>
</span>
<span ng-click="vm.handleModeChange()">
    <button class="button success" ng-show="vm.editMode">Speichern</button>
    <span ng-show="!vm.editMode" class="fa fa-pencil" authenticated></span>
</span>
<button class="button secondary" ng-if="vm.editMode" ng-click="vm.reset()">Reset</button>