<h1>
    <editable-field field-value="vm.entry.timestamp" field-type="date"
                    on-update="vm.update('timestamp', value)"></editable-field>

    <editable-field field-value="vm.entry.title" field-type="text"
                    on-update="vm.update('title', value)"></editable-field>
</h1>
<p><a href ng-click="vm.onDelete({entry: vm.entry})">Löschen</a></p>
<editable-field field-value="vm.entry.description" field-type="textarea"
                on-update="vm.update('description', value)"></editable-field>