<div class="callout row float-center" style="margin-top: 100px">
    <div class="row">
        <div class="medium-6 columns">
            <h5>Login</h5>
        </div>
    </div>
    <div class="row">
        <form novalidate>
            <div class="callout alert medium-6 float-center" ng-show="vm.errormsg">
                Es ist ein Fehler aufgetreten: {{vm.errormsg}}
            </div>
            <div class="medium-6 small-centered">
                <input type="text" id="input-text-username" ng-model="vm.user.username" placeholder="Benutzername"
                       autofocus/>
            </div>
            <div class="medium-6 small-centered">
                <input type="text" id="input-text-password" ng-model="vm.user.password" placeholder="Passwort"/>
            </div>
            <div class="medium-6 small-centered">
                <button class="button success" type="submit" ng-click="vm.login(vm.user)">Anmelden</button>
            </div>
        </form>
    </div>
</div>
