<div>
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>Travel Blog</h1>
            <h2 class="subheader">Projektarbeit im Modul WEBAPP der Hochschule Luzern</h2>
        </div>
    </div>

    <div class="row medium-8 large-7 columns">
        <button class="button" ng-show="!vm.isCreateFormVisible" ng-click="vm.showCreateForm()" authenticated>
            Neuer Blog erstellen
        </button>
        <create-blog ng-show="vm.isCreateFormVisible" on-success="vm.loadBlogs() && vm.hideCreateForm()"
                     on-cancel="vm.hideCreateForm()"></create-blog>
    </div>
    <div class="row medium-8 large-7 columns">
        <div class="callout secondary" ng-show="!vm.travelBlogs.length && !vm.errormsg">Keine Blogs vorhanden.</div>
        <div class="callout alert" ng-show="vm.errormsg">
            Es ist ein Fehler aufgetreten: {{vm.errormsg}}
        </div>
        <div class="blog-post" ng-repeat="blog in vm.travelBlogs">
            <div class="clearfix">
                <h3 class="float-left">
                    <a ng-href="/#/blog/{{ blog._id }}">{{ blog.title }}</a>
                    <small>{{ blog.destination }}</small>
                </h3>
                <button type="button" class="alert button float-right" ng-click="vm.removeBlog(blog._id)" authenticated>
                    Blog löschen
                </button>
            </div>
            <img class="thumbnail float-center" src="http://placehold.it/850x350">
            <p>{{ blog.description }}</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Autor: Mike Mikers</a></li>
                    <li><a ng-href="/#/blog/{{ blog._id }}">Einträge: {{blog.entryCount}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>